<dom-module id="cells-atom-item-with-icon-styles"><template><style>
:host {
  display: block;
  font-family: var(--cells-fontDefault, --fontDefault);
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:host {
  @apply (--cells-atom-item-with-icon); }

.item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  @apply (--cells-atom-item-with-icon-item); }
  .item__icon {
    margin: 0 1rem 0 0; }
  .item__title {
    @apply (--cells-atom-item-with-icon-title); }
    .item__title--amount {
      @apply (--cells-atom-item-with-icon-title--amount); }
    .item__title--text {
      @apply (--cells-atom-item-with-icon-title--text); }
    .item__title--date {
      @apply (--cells-atom-item-with-icon-title--date); }
  .item__description {
    font-size: 0.85rem;
    @apply (--cells-atom-item-with-icon-description); }
  .item__icon {
    margin: 0 1rem 0 0;
    @apply (--cells-atom-item-with-icon-identifier-icon); }

</style></template></dom-module>