@import "bower_components/cells-sass/main";

:host {
  @apply(--cells-atom-item-with-icon);
}

.item {
  display: flex;
  align-items: center;
  @apply(--cells-atom-item-with-icon-item);

  &__icon{
    margin: 0 1rem 0 0;
  }

  &__title{
    @apply(--cells-atom-item-with-icon-title);
    
    &--amount{
      @apply(--cells-atom-item-with-icon-title--amount);  
    }

    &--text{
      @apply(--cells-atom-item-with-icon-title--text);  
    }

    &--date{
      @apply(--cells-atom-item-with-icon-title--date);  
    }
  }

  &__description {
    font-size: 0.85rem;
    @apply(--cells-atom-item-with-icon-description);
  }

  &__icon {
    margin: 0 1rem 0 0;
    @apply(--cells-atom-item-with-icon-identifier-icon);
  }
}