<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-atom-item-with-icon-styles.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-atom-date/cells-atom-date.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">

<!--
`<cells-atom-item-with-icon>` description.

Example:

```html
<cells-atom-item-with-icon></cells-atom-item-with-icon>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-atom-item-with-icon-scope      | scope description | default value  |
| --cells-atom-item-with-icon  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="cells-atom-item-with-icon">
  <template>
    <style include="cells-atom-item-with-icon-styles cells-atom-item-with-icon-shared-styles"></style>
    <div class="item">
      <div class="item__icon" hidden$="[[!_checkedValue(icon)]]">
        <cells-atom-icon 
          icon="[[icon]]" 
          class$="icon icon-size-[[iconSize]]"></cells-atom-icon>
      </div>
      <div class="item__content">
        <div class="item__title">
          <template is="dom-if" if="[[_checkedType(type, 'amount')]]">
            <cells-atom-amount
              class="item__title--amount"
              amount="[[amount]]"
              currency-code="[[currencyCode]]"
              local-currency="[[localCurrency]]"
              language="[[lang]]"></cells-atom-amount>
          </template>
          <template is="dom-if" if="[[_checkedType(type, 'date')]]">
           <cells-atom-date class="item__title--date"
            date="[[date]]" 
            format="[[formatDate]]"></cells-atom-date>
          </template>
          <template is="dom-if" if="[[_checkedType(type, 'string')]]">
            <span class="item__title--text">[[text]]</span>
          </template>
        </div>
        <div class="item__description" hidden$="[[!_checkedValue(description)]]">[[description]]</div>
      </div>
    </div>
  </template>
  <script src="cells-atom-item-with-icon.js"></script>
</dom-module>
